body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

/* 导航栏的样式 */
#header-nav {
    background-color: #f6b319;
    /* 取消圆角 */
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url("../images/restaurant-logo_large.png") no-repeat;
    width: 150px;
    height:150px;
    margin: 10px 15px 10px 0px;
}

/* 品牌logo */
.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 0.75;
}

/* 取消鼠标悬停时的下划线 */
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

/* 品牌下方的副标题 */
.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

/* 垂直居中 */
.navbar-brand p span {
    vertical-align: middle;
}

#nav-list {
    margin-top: 10px;
}

/* 居中 */
#nav-list a {
    color: #951c49;
    text-align: center;
}

#nav-list a:hover {
    background: #e7e7e7;
}

#nav-list a span {
    font-size: 1.8em;
}

#phone {
    margin-top: 5px;
}

#phone a {
    text-align: right;
    padding-bottom: 0;
}

/* *We Deliver 文字属性 */
#phone div {
    color: #557c3e;
    text-align: right;
    padding-right: 15px;
}

/* 设置抽屉按钮的边框 */
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}

/* 由于设置float属性, box元素会折叠到最小高度 */
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

/*********** 大尺寸设备 *************/
@media (min-width: 1200px) {

}

/*********** 中等尺寸设备 ***********/
@media (min-width: 992px) and (max-width: 1199px) {
    /* 缩小logo的尺寸 */
    #logo-img {
        background: url("../images/restaurant-logo_medium.png") no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }
}

/*********** 小尺寸设备 ***********/
@media (min-width: 768px) and (max-width: 991px) {

}

/*********** 最小尺寸设备 ***********/
@media (max-width: 767px) {
    /* 修复最小尺寸时的layout问题 */
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    /* 饭店名字 */
    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 5vw; /* 1vw = 1% of viewport width */
    }
    /* Kosher certitied */
    .navbar-brand p {
        font-size: .6em;
        margin-top: 12px;
    }
    /* Stat-K */
    .navbar-brand p img {
        height: 20px;
    }
}