
* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 175%;
}

/* 用于实现响应式布局 */
div > div {
    float: left;
    margin: 0px;
    padding: 10px;
}

/* 用于承载文字和顶部section */
div > div > div {
    border: 1px black solid;
    background: #999999;
    position: relative;
}

div > div > p {
    padding: 30px 10px 10px 10px;
}

/* section style */
.region {
    /* 使用绝对位置, 使section靠右上角 */
    position: absolute;
    top: 0px;
    right:0px;
    text-align: center;
    width: 33.33%;
    margin-bottom: 15px;
    font-size: 125%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: auto;
}

/* section backgroundColor */
.chicken {
    background-color: pink;
}

.beef {
    background-color: orangered;
}

.sushi {
    background-color: sandybrown;
}

/* desktop */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/* mobile */
@media (max-width: 767px) {
    .col-xs-12 {
        width: 100%;
    }
}